# OS
.DS_Store

# Logs
*.log

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Java / Gradle
backend/build/
backend/.gradle/
backend/out/

# IDE
.idea/
.vscode/

# DB
*.sqlite
*.sqlite3
*.db

# Env
.env
.env.*
